body {
    background-size: cover;
    background-image: url("img/b4.jpg");
    font-family: sans-serif, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 23px;
    border-radius: 5%;
    height: 100vh;
}

.app{
  width: 80%;
  background-image: url(img/back3.jpg);
  margin: auto;
  padding: 20px;
  max-width: 80%;
  max-height: 800vh;
  border: 3px solid rgb(219, 219, 170);
  border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

.button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(238, 230, 230);
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: rgb(165, 8, 34);
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
.button:hover span {
  padding-right: 25px;
}
  
.button:hover span:after {
  opacity: 1;
  right: 0;
}

#increament-btn {
  background: rgb(34, 18, 154);
}

#save-btn {
  background: rgb(8, 154, 8);
}
#reset-btn {
  background: rgb(175, 21, 21);
}

